.exercise1 h1 {
  text-align: center;
}
.yellow-square {
  width: 500px;
  height: 500px;
  margin: 15vh auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fec800;
}
